
div.p-container {
  background-color: rgba(255, 255, 255, 0.5); /* Белый фон с прозрачностью 80% */
  padding: 20px; /* Добавляем отступы для контента внутри контейнера */
  border-radius: 5px; /* Добавляем скругления для контейнера */
}