body {
  background-image: url('../image/background.png');
  background-size: cover;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div.p-container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



nav ul {
    display: flex;
    align-items: center;
    margin: 0;
}

nav li:last-child {
    margin-left: auto;
}

